/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.sidebar {
  /*    width: 260px;
  min-width: 260px; */
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  background: #0e2238;
  display: flex;
  flex-direction: column;
  transition: 0.25s ease-in-out;
}

.sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.sidebar .toggle-btn {
  background: transparent;
  padding: 2rem 1.8rem;
  border: 0;
  cursor: pointer;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar .sidebar-logo {
  margin: auto 0;
}

.sidebar:not(.expand) .sidebar-logo {
  display: none;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  padding: 1rem 0;
  flex: 1 1 auto;
}

.sidebar-item {
  position: relative;
}

.sidebar-nav > .sidebar-item {
  margin-bottom: 15px;
}

.sidebar .sidebar-link {
  display: block;
  padding: 0.6rem 1.6rem;
  color: #fff;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #4070f4;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

.sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

.sidebar:not(.expand) .sidebar-item .drop-two {
  top: 100%;
  left: 0;
}

.sidebar:not(.expand) .sidebar-item:hover > .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  position: absolute;
  content: "";
  display: inline-block;
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  padding: 2px;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.sidebar .sidebar-footer {
  margin-bottom: 1.5rem;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fafbfe;
  transition: 0.35s ease-in-out;
}

.main h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
